

<section class="clear_top">
  <div class="container">
      <h2 class="title_recip">Nasi Lemak & Cornflake Chicken</h2>
  </div>
</div>

<section class="details">
   <!--Row with two columns divided in 1:2 ratio-->
   <div class="container "> 
    <div class="row ">
      <div class="col-sm-4"><img src="/assets/diab_receipe1.png"  width="325"></div>
        
        <div class="col-sm-4 no-margin"> <p class="title_info">INFORMATIONS ABOUT YOUR DISH :</p>
            <div class="row details no-margin">
                <div class="col-xs-12 no-margin"> <span class="glyphicon glyphicon-time"></span> 45 mins<br><span class="glyphicon glyphicon-stats"></span> calories: 333kcal. fat: 10g. carbohydrates: 36g. protein: 24g.</div>
            </div>
            <div class="row details no-margin">
                <div class="col-xs-12 no-margin ">by Chef Ravindran a/l Mathavan (Columbia Asia Hospital-Seremban)</div>
            </div>
            <div class="row details no-margin">
                <div class="col-xs-12 no-margin">
                  <b>Rice</b><br>
                  1. 175g uncooked brown rice <br>
                  2. 150 ml low fat milk <br>
                  3. 3 pandan leaves (blended) <br>
                  4. pinch of salt (to taste) <br>
                  5. 70ml trimmed coconut milk (optional) <br><br>
                  <b>Crispy Cornflake Chicken</b><br>
                  1. 350g chicken (sliced) <br>
                  2. 1 medium egg (for coating)<br>
                  3. 5g cornflakes (for coating) <br>
                  4. 20g multi-purpose flour (for coating) <br>
                  5. salt and pepper, to taste<br>
                  6. coarsely ground black pepper, to taste <br><br>
                  <b>Sambal</b><br>
                  1. 20g dried chillies<br>
                  2. 100g shallots<br>
                  3. 1 tbsp vegetable oil<br>
                  4. Salt, to taste (pinch)<br><br>
                  <b>Fried Kangkung </b><br>
                  1. 200g kangkung (water spinach)<br>
                  2. 1 small onion, sliced<br>
                  3. 1 red chilli, sliced<br>
                  4. 1 tbsp vegetable oil<br><br>
                  <b>Acar Rampai</b><br>
                  1. 1 tbsp vegetable oil<br>
                  2. 75g cucumber, cut into strips<br>
                  3. 75g carrot, cut into strips<br>
                  4. 2 shallots<br>
                  5. 2 cloves garlic<br>
                  6. 2 whole star anise<br>
                  7. 2 cinnamon sticks<br>
                  8. 2 tsp curry powder<br>
                  9. 1 tbsp chilli sauce<br>
                  10.1 tsp vinegar<br>
                  11.salt and pepper, to taste
                </div>
            </div>
            <div class="row details no-margin">
                <div class="col-xs-12 no-margin">
                  <b>Direction</b><br>
                  1. Mix low fat milk and blended pandan leaf with washed brown rice. Cook with a rice cooker.<br>
                  2. Coat the chicken sliced with multi-purpose flour, eggs and lastly cornflake. Bake in oven for 8 minutes at 160°C.<br>
                  3. Heat oil in non-stick pan. Sauté onion till fragrance. Add vegetable. <br>
                  4. Heat oil in non-stick pan. Stir-fried all ingredients together. <br>
                  5. Sauté blended shallot and dry chili until fragrance. <br>
                </div>
            </div>
            <div class="row details no-margin">
                <div class="col-xs-12 no-margin "> 0 Likes | 0 Dislike </div>
               
            </div>
      
        </div>
        <div class="col-sm-4 pre_payment_form "> 
            <div class="row full_color">
                <div class="col-m-12 price">RM15 </div>
            </div>


          <form class="space" action="/" method="post">
          
          <div class="top-row">
            <div class="field-wrap">
              <label>
                First name<span class="req">*</span>
              </label>
              <input type="text" required autocomplete="off" />
            </div>
        
            <div class="field-wrap">
              <label>
                Last name<span class="req">*</span>
              </label>
              <input type="text"required autocomplete="off"/>
            </div>
          </div>

          <div class="field-wrap">
            <label>
              Email Address<span class="req">*</span>
            </label>
            <input type="email"required autocomplete="off"/>
          </div>
           <div class="field-wrap">
            <label>
              Address<span class="req">*</span>
            </label>
            <input type="email"required autocomplete="off"/>
          </div>
          
          <div class="field-wrap">
            <label>
              Allergy<span class="req">*</span>
            </label>
            <input autocomplete="off"/>
          </div>
          
          <a href="/receipt" type="submit" class="button button-block"/>Order here</a>
          
          </form>
        </div>
     

    </div>
  </div>
</div>


<section class="recipes">
  <div class="container"> 
  


</section>
  </div>
</div>

<script> 
$('.pre_payment_form').find('input, textarea').on('keyup blur focus', function (e) {
  
  var $this = $(this),
      label = $this.prev('label');

    if (e.type === 'keyup') {
      if ($this.val() === '') {
          label.removeClass('active highlight');
        } else {
          label.addClass('active highlight');
        }
    } else if (e.type === 'blur') {
      if( $this.val() === '' ) {
        label.removeClass('active highlight'); 
      } else {
        label.removeClass('highlight');   
      }   
    } else if (e.type === 'focus') {
      
      if( $this.val() === '' ) {
        label.removeClass('highlight'); 
      } 
      else if( $this.val() !== '' ) {
        label.addClass('highlight');
      }
    }

});

$('.tab a').on('click', function (e) {
  
  e.preventDefault();
  
  $(this).parent().addClass('active');
  $(this).parent().siblings().removeClass('active');
  
  target = $(this).attr('href');

  $('.tab-content > div').not(target).hide();
  
  $(target).fadeIn(600);
  
});
</script>

