<section>
this is confirmation


<div class="container">

<div class="jumbotron confpage">
   <h1>ORDER PENDING</h1>  
   <hr />
   <h2>Kai Huat<br>kai_huat@gmail.com</h2>
   <hr />
   <h2>711 East Coast Road, <br>Kuala Lumpur, 459065, <br>Malaysia</h2>
   <hr />
   <h2>Order <span class="flr">1</span> <br><br></h2>
   <hr />
   <h2>Amount (MYR) <span class="flr">25</span> <br><br></h2>
   <hr />
   <h2>Reservation Code <span class="flr">HMWWBEPPZ4</span> <br><br></h2><br>
   </div>      
</div>
</section>